<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bible Hodl</title>
    <link rel="icon" type="image/x-icon" href="./img/transparent_favicon.ico" />
    <link rel="stylesheet" href="./css/main.css" />

    <!-- styles -->
    {% style "/assets/material-icons/css/material-icons.min.css" %} {% style
    "/css/screen.css" %} {% style "/css/tailwind.css" %} {% style
    "/css/main.css" %}
  </head>
  <body>
    {% block content %} {% endblock %}

    <!-- scripts -->
    {% block page-scripts %} {% endblock %}
  </body>
</html>
